.element__name{
    color: #000;
    margin-left: 19px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}