.page{
    background-color: #000;
    min-width: 320px;
    max-width: 1280px;
    color: #f1f1f1;
    margin: 45px auto auto;
}


@media only screen and (max-width: 320px) { 
    /* For mobile phones: */
    .element{
        max-width: 320px;
        margin: auto 19px;
    }
  }