.popup__container{
    max-width: 430px;
    max-height: 330px;
    border-radius: 10px;
    padding: 36px;
    background-color: white;
    position: relative;
    z-index: 2;
}



@media only screen and (max-width: 320px) { 
    /* For mobile phones: */
    .popup__container{
        width: 80%;
        min-height: 322px;
        padding: 19px;
    }
  }