.popup__container{
    width: 430px;
    min-height: 330px;
    border-radius: 10px;
    padding: 36px;
    background-color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 320px) { 
    /* For mobile phones: */
    .popup__container{
        width: 77vw;
        min-height: 322px;
        padding: 19px;
        transform: translate(-50%, -15%);
    }
  }