.popup__save{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    width: 100%;
    height: 51px;
    background-color: black;
    align-self: flex-end;
    justify-self: center;
    color: white;
    margin: 55px auto 37px;
    border-color: white;
}

@media only screen and (max-width: 320px) { 
    /* For mobile phones: */
    .popup__save{
        margin: 40px auto 25px;
        font-size: 14px;
    }
  }