.element__item{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas:
        'image image'
        'text love';
    background-color: #fff;
    border-radius: 3%;
    width: 282px;
}

