.edit-form{
    width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
    padding: 36px;
    position: absolute;
    display: none;
}

@media only screen and (max-width: 320px) { 
    /* For mobile phones: */
    .edit-form{
        width: 55%;
        height: 322px;
    }
  }