.popup__close{
    border-style: none;
    position: absolute;
    right: -50px;
    top: -40px;
    background-color: black;
    opacity: 0.8;
}

@media only screen and (max-width: 320px) { 
    /* For mobile phones: */
    .popup__close{
        right: 0;
    }
  }

  .popup__close:hover{
    opacity: 0.5;
}