.profile__info{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

@media only screen and (max-width: 768px) { 
    /* For mobile phones: */
    .profile__info{
        margin: auto;
    }
  }