.card__like{
    border-style: none;
    grid-area: love;
    background-color: white;
    background-image: url(../../../src/images/like-element.svg);
    object-fit: cover;
    width: 21px;
    height: 19px;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.card__like:hover{
    opacity: 0.5;
}
