.footer{
    max-width: 880px;
    margin: 0 auto 60px;
}

@media only screen and (max-width: 768px) { 
    /* For mobile phones: */
    .footer{
        font-size: 14px;
        line-height: 17px;
        margin: auto 19px;       
    }
  }
